fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
pillow
python-multipart

opencv-python
ultralytics==8.1.36

gtts
pywhatkit
SpeechRecognition
pydub
playsound==1.2.2

tensorflow-cpu==2.18.0
torch
deepface==0.0.93

setuptools
